
/* Input & Input Hidden */

.component{
    width: 100%;
}

.component p {
    font-size: 14px;
}

.component .countrySelect{

    transform: translateY(7px);
}

.inputContainer{
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    
    background-color: var(--status-background);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    margin-top: 5px;

    padding: 0px 10px;

}

.inputContainer input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 13px;
    background: none;

    margin: 0;
    border: none;
    box-sizing: border-box;
}

.inputContainer input::placeholder{
    color: var(--text-secondary);
    
}

.inputContainer input:focus{
    outline: none;
}

.icon{
    height: 20px;
    width: 20px;
}

.error{
    height: 15px;
    margin-top: 5px;
    font-size: 11px;
    color: tomato;
    transform: translateY(-5px);
    text-align: end;
}




/* Input Search */

.container{
    width: 400px;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox{
    width: 100%;
    height: 40px;
    background-color: rgb(68, 68, 68);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    border-radius: 2rem;

    .input{
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
    }

    .input:focus{
        outline:none
    }

    .searchIcon{
        transition: opacity 0.2s, transform 0.3s;
 
    }
}

.dropdown{
    margin-top: 5px;
    width: 100%;
    background-color: rgb(68, 68, 68);
    border-radius: 1rem;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Input Select */

.selectComponent{
    width: 100%;
    margin-bottom: 15px;
}

.containerSelect{
    position: relative;
    width: 100%;
    height: 40px;
    background-color:var(--status-background);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    

    font-size: 14px;
    font-weight: 300;

    color: rgb(212, 212, 212);
    font-size: 13px;
    font-weight: 400;

    cursor: pointer;

    .dropdown{
        position: absolute;
        top: 30px;
        left: -10px;
        width: 300px;
        max-height: 200px;
        overflow-y: auto;
        background-color: var(--status-background);
        color: white;
        border-radius: 0 0 1rem 1rem;

        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        z-index: 10;
        .option{
            border-radius: 10px;
            min-height: 30px;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            transition: all 0.3s;
            

            &:hover{
                
            }
        }
    }
}



/* Input Edit */

.inputView {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-align: center;
    

    text-overflow: ellipsis;
    white-space: nowrap;
}

.inputEdit {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-align: center;
}

.inputEdit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputEdit:focus{
    outline: none;
}




/* Input Code */

.componentCode{
    
    margin-bottom: 1rem;

    .inputCode{
        width: auto;
        
        
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        margin-top: 5px;
    
        position: relative;
    
        .codeInput{
            width: 63px;
            height: 77px;
            border-radius: 8px;
            font-size: 30px;
            background-color: var(--status-background);
    
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
        }
    }
    
    .inputCode input{
        width: 100%;
        height: 100%;
        position: absolute;
        background: none;
        left: 0;
        
        border: none;
        font-size: 13px;
        color: rgba(255, 255, 255, 0);
    
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .inputCode input[type="number"]::-webkit-inner-spin-button, 
    .inputCode input[type="number"]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    
    .inputCode input:focus{
        outline: none;
    }
}
