.errorMessage {
  min-width: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-height: 60px;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  transition: all 1.3s ease;
}

.confirmMessage {
  min-width: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-height: 60px;
  background-color: rgb(123, 190, 94);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  /* bottom: 20px; */
  transition: all 0.3s ease;
}